@page "/movies"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject Projekt4_Bazodanowa_aplikacja_webowa.Data.ApplicationDbContext DB
@using Projekt4_Bazodanowa_aplikacja_webowa
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>

<h1>Movies</h1>

<p>
    <a href="movies/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DB.Movie">
    <PropertyColumn Property="movie => movie.Title" Sortable="true"/>
    <!--<PropertyColumn Property="movie => movie.Description" />-->
    <PropertyColumn Property="movie => movie.RelaseDate.Year"  Sortable="true"/>
    <PropertyColumn Property="movie => movie.Rating" Sortable="true" />

    <TemplateColumn Context="movie">
        <a href="@($"movies/edit?id={movie.Id}")">Edit</a> |
        <a href="@($"movies/details?id={movie.Id}")">Details</a> |
        <a href="@($"movies/delete?id={movie.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
